* {
	font-family: "Hack", monospace;
}

window {
	background-color: transparent;
}

#input {
	margin: 5px;
	border-radius: 0px;
	border: none;
	background-color: --wofi-color0;
	color: --wofi-color7;
}

#inner-box {
	background-color: --wofi-color0;
}

#outer-box {
	margin: 2px;
	padding: 8px;
	background-color: --wofi-color0;
}

#scroll {
	margin: 5px;
}

#text {
	padding: 4px;
	color: --wofi-color7;
}

#entry:selected {
	background-color: --wofi-color0;
	border: 1px solid --wofi-color7;
}

#text:selected {
	background: transparent;
	color: --wofi-color7;
}
